*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    z-index:1;

    --back-color: #fcfcfc;
    --text-color: #0f0f0f;
    --gradient: linear-gradient(150.23deg, #F76E11 17.48%, #FA1F21 52.46%, #F70B6C 97.07%);
    --aksent_color: #FA1F21;
    --text-2-color: #acacac;
    --nomain-button-color: #f1f1f1;
}

@font-face {
	font-family: "Cann"; 
	src: local("Cann"),
		 url(fonts/Cann.ttf); 
}

@font-face {
	font-family: "Cann Bold"; 
	src: local("Cann Bold"),
		 url(fonts/Cann\ Bold.ttf); 
}

html{
    background-color: var(--back-color);
    font-family: Cann;
}

.contrast_body{
    background-color: #f0f0f0;
    z-index:0;
}

/* Основа */

.politic_p{
    color: var(--text-2-color)
}

.main_button{
    width: 336px;
    height: 56px;
    background: var(--gradient);
    border-radius: 12px;
}

.main_button_p{
    text-align: center;
    padding-top: 18px;
    font-weight: 600;
    color: var(--back-color);
    font-size: 16px;
}

.nomain_button{
    width: 336px;
    height: 56px;
    background: var(--nomain-button-color);
    border-radius: 12px;
}

.nomain_button_p{
    text-align: center;
    padding-top: 18px;
    font-weight: 400;
    color: var(--text-color);
    font-size: 16px;
}

.header_h2{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    float: left;
    margin-right: 26px;
}

.header_lin{
    width: 112px;
    height: 2px;
    background-color: var(--text-color);
}

.avatar{
    width: 44px;
    height: 44px;
    border-radius: 22px;
}

#main_r{
    width: 360px;
    height: 88%;
    position: fixed;
    border-radius: 24px 24px 0 0;
    background-color: var(--back-color);
    overflow-y: scroll;
}

.main_arm{
    width: 20px;
    height: 4px;
    background-color: var(--text-2-color);
    position: fixed;
    border-radius: 2px;
}

.main_input_search{
    border-radius: 12px;
    width: 336px;
    height: 56px;
    color: var(--text-color);
    outline: none;
    background-color: var(--nomain-button-color);
    padding-left: 24px;
    font-size: 18px;
    font-weight: 400;
}

.main_choice{
    width: 168px;
    height: 31px;
    float: left;
    text-align: center;
}

.main_choice_p{
    font-size: 18px;
    font-weight: 600;
}

.main_choice_lin{
    width: 92px;
    height: 2px;
    background-color: var(--text-color);
}

.prof_section{
    width: 300px;
    position: fixed;
}

.prof_title{
    color: var(--text-color);
    font-weight: 600;
    font-size: 32px;
}

.prof_adres{
    color: var(--aksent_color);
    font-weight: 400;
    font-size: 15px;
    
}

.prof_additionally_age{
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
}

.prof_additionally_schedule{
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
}

.prof_additionally_experience{
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
}

.prof_color{
    color: var(--text-2-color);
    font-weight: 400;
    font-size: 15px;
}

.prof_subtitle{
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
}

.prof_description{
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
}

#section_button{
    width: 340px;
}

.section_button_pl{
    font-weight: 700;
    font-size: 16px;
    color: var(--aksent_color);
    z-index: 6;
}

.section_button_pr{
    font-weight: 700;
    font-size: 16px;
    color: var(--aksent_color);
    z-index: 5;
}

.section_button_main_button{
    width: 272px;
    height: 56px;
    border-radius: 12px;
    border: 2px solid var(--aksent_color);
    float: left;
}

.section_button_main_button_p{
    font-weight: 700;
    font-size: 20px;
    color: var(--aksent_color);
}

.section_button_main_button_mini{
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border: 2px solid var(--aksent_color);
}

#profile{
    width: 100%;
    height: auto;
    padding-bottom: 16px;
    position: fixed;
    border-radius: 0px 0px 24px 24px;
    background-color: var(--back-color);
    overflow-y: scroll;
}

.profile_h1{
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color);
    width: 170px;
}

.section_aboutme{
    width: 336px;
    background-color: var(--nomain-button-color);
    border-radius: 12px;
}

.section_profile_h6{
    font-weight: 300;
    font-size: 12px;
    color: var(--text-2-color);
}

.section_profile_p{
    font-weight: 300;
    font-size: 16px;
    color: var(--text-color);
}

.section_profile_button_out{
    width: 336px;
    height: 56px;
    background-color: var(--nomain-button-color);
    border-radius: 12px;
}

.section_profile_button_out{
    font-size: 16px;
}

.add_prof{
    width: 56px;
    height: 56px;
    border-radius: 12px;
    background: var(--gradient);
    position: fixed;
}

.add_prof_svg{
    width: 42px;
}

/* Яндекс карты */

.ballonContent{
    width: 170px;
    background-color: var(--back-color);
    border-radius: 12px;
}

.ballonContent_h2{
    font-weight: 300;
    font-size: 17px;
    color: var(--text-color);
    font-family: Cann;
    padding-bottom: 4px;
}

.ballonContent_h6{
    font-weight: 100;
    font-size: 12px;
    color: var(--text-2-color);
}


[class*= "balloon"]{
    width: 180px;
    background-color: var(--back-color);
    border-radius: 12px;
}

[class*= "balloon__tail"]{
    display: none;
}

[class*= "balloon__close"]{
    display: none;
}