#index_svg{
    position: fixed;
    left: 46px;
    top: 254px;
}

.press_down{
    width: 336px;
    position: fixed;
    left: 12px;
    top: auto;
    bottom: 12px;
}

.main_button{
    margin-top: 12px;
    margin-bottom: 8px;
}


/* map r */

header{
    position: fixed;
    left: 62px;
    top: 27px;
}

.header_lin{
    margin-top: 2px;
    margin-left: -3px;
    float: left;
}

.avatar{
    margin-top: -9px;
    margin-left: 18px;
}

/* Главный блок */

#main_r{
    top: auto;
    bottom: -73%;
    transition: 0.3s;
}

.main_arm{
    left: 170px;
    margin-top: 6px;
}

.main_input_search{
    margin-top: 16px;
    margin-left: 12px;
}

.main_choice{
    margin-left: 12px;
    padding-top: 5px;
    margin-top: 16px;
}

.main_choice2{
    margin-left: 0px;
}

.main_choice_lin{
    margin-top: 45px;
    margin-left: 50px;
}

.prof_section{
    margin-left: 36px;
    margin-top: 26px;
    position: fixed;
    transition: 0.3s;
}

.prof_title{
    margin-bottom: 18px;
}

.prof_adres{
    margin-bottom: 8px;
}

.prof_color{
    float: left;
}

.prof_subtitle{
    margin-bottom: 6px;
    margin-top: 18px;
}

#prof_section_2{
    left: 400px;
    transform: rotate(20deg);
}

#prof_section_3{
    left: 400px;
    transform: rotate(20deg);
}




/* Секция с кнопочками */

#section_button{
    position: fixed;
    left: 12px;
    top: auto;
    bottom: -100;
    transition: 0.3s;
}

.section_button_pl{
    margin-left: 24px;
    float: left;
    margin-bottom: 24px;
    margin-right: 102px;
}

.section_button_pr{
    margin-bottom: 24px;
}

.section_button_main_button_p{
    text-align: center;
    padding-top: 16px;
}

.section_button_main_button_mini{
    margin-left: 280px;
}

.section_button_main_button_mini_svg{
    margin: 12px;
}

/* profile */

#profile{
    top: -100%;
    transition: 0.3s;
}

.profile_h1{
    float: left;
    margin-left: 24px;
    margin-top: 18px;
}

.ava_profile{
    margin-left: 102px;
    margin-top: 18px;
}


.section_aboutme{
    margin-left: 12px;
    margin-top: 18px;
}

.section_profile_h6{
    padding-top: 12px;
    padding-left: 12px;
}

.section_profile_p{
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.section_aboutme_center{
    margin-top: 12px;
}

.section_profile_button_out{
    margin-left: 12px;
    margin-top: 8px;
}

.section_profile_button{
    margin-top: 36px;
}

.section_profile_button_out_p{
    text-align: center;
    padding-top: 18px;
}

/* Добавление профессий */

.add_prof_svg{
    margin-left: 8px;
    margin-top: -17px;
}

.add_prof{
    left: auto;
    right: 12px;
    top: 76%;
}